# iOS Simulator defaults to http://127.0.0.1:3000 and the Android emulator
# defaults to http://10.0.2.2:3000. Set this to your Mac/PC LAN address when
# testing a physical phone, for example http://192.168.1.20:3000.
EXPO_PUBLIC_WASTE_X_API_BASE_URL=
